<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand" routerLink="/" style="cursor:hand">
                Notes tutorial app
            </div>
        </div>
        <div class="navbar-form navbar-right">
            <login-form>
                <a class="btn btn-primary" routerLink="/register">Register</a>
            </login-form>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>
            <span class="glyphicon glyphicon-edit"></span>
            Keep your notes in order
        </h2>
        <p>
            A simple application to keep your own notes in order.
        </p>
    </div>
</div>

<router-outlet></router-outlet>