<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">Notes tutorial app</div>
        </div>
        <div class="navbar-form navbar-right">
            <a class="btn btn-primary" routerLink="/register">Register</a>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h2>
            <span class="glyphicon glyphicon-edit"></span>
            Keep your notes in order
        </h2>
        <p>
            A simple application to keep your own notes in order.
        </p>
    </div>
</div>

<router-outlet></router-outlet>

<!--
<a routerLink="wrongaddress">wrong address</a>-->
