<form *ngIf="!loggedIn" style="margin-bottom: auto">
    <div class="form-group">
        <input type="text" placeholder="Username" name="username"
               class="form-control" [(ngModel)]="userForm.username"
               (keyup.enter)="login()">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" name="password" class="form-control"
               [(ngModel)]="userForm.password" (keyup.enter)="login()">
    </div>
    <button type="submit" class="btn btn-success" (click)="login()">
        Sign in
    </button>

    <ng-content></ng-content>
    <div *ngIf="failedLogin" style="color:white">
        Wrong username or password
    </div>
</form>
<div *ngIf="loggedIn" style="color:white">
    User: <b>{{userForm?.username}}</b>
    <button type="submit" class="btn btn-success" (click)="logout()">
        Logout
    </button>
</div>