<div class="input-group" style="padding-bottom:20px">
    <input type="text" class="form-control" placeholder="New section name" #newSection>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="addSection(newSection)">Add</button>
    </span>
</div>
<input type="text" class="form-control" placeholder="Section filter" #filter (keyup)="0">
<ul class="list-group" [dragula]='"sections"'>
    <li *ngFor="let section of sections | sectionFilter: filter.value"
        [ngClass]="{active:section.title==activeSection }"
        (click)="showSection(section)"
        class="list-group-item">
        {{section.title}}
    </li>
</ul>