<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">User registration form</div>
        <div class="panel-body">

            <form class="css-form" name="userForm"
                  #userForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userName">User name</label>
                    <input type="text" class="form-control" id="userName"
                           name="userName" placeholder="Username"
                           #userName="ngModel" [(ngModel)]="user.name"
                           required
                           userUniqueValid>
                    <span *ngIf="userName.errors && userName.value?.length>0&& !userName.errors.userUniqueValid && userName.dirty">
                        User name is not unique. Please select another one.</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password"
                           name="password" placeholder="Password"
                           #password="ngModel" [(ngModel)]="user.password"
                           required>
                </div>
                <div class="form-group">
                    <label for="password2">Retype password</label>
                    <input type="password" class="form-control" id="password2"
                           name="password2" placeholder="Retype password"
                           #password2="ngModel" [(ngModel)]="user.password2"
                           required
                           validateEqual="password">
                    <span *ngIf="password2.errors && !password2.errors.validateEqual && password2.touched">
                        Passwords should match</span>
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth</label>
                    <input type="text" class="form-control" id="dateOfBirth"
                           name="dateOfBirth" placeholder="Date Of Birth"
                           #dateOfBirth="ngModel" [(ngModel)]="user.dateOfBirth"
                           required
                           pattern="[0-9][0-9]\.[0-1][0-9]\.[1-2][0-9][0-9][0-9]">
                    <span *ngIf="dateOfBirth.errors && dateOfBirth.errors.pattern && dateOfBirth.touched">
                        Date of birth should be in format dd.mm.yyyy</span>
                </div>
                <div class="form-group" *ngIf="user.subscribe">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" id="email"
                           name="email" placeholder="E-mail"
                           #email="ngModel" [(ngModel)]="user.email"
                           pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}">
                    <span *ngIf="email.errors && email.errors.pattern && email.touched">
                        E-mail should be in format mail@example.com</span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" name="subscribe"
                                      [(ngModel)]="user.subscribe">
                            Subscribe for newsletters
                        </label>
                    </div>
                </div>
                <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>